			body, html{
				font-family: Inter, sans-serif;
				font-weight: 600;
				font-size: 18px;
				height: 100%;
				margin: 0;
				padding: 0;
			}
			.navbar{
				display: flex;
				font-size: 20px;
				justify-content: space-between;
				padding: 14px 20px;
				padding-top: 20px;
				margin-bottom: 0px;
				padding-bottom: 30px;
			}
			.navbar img{
				height: 33px;
				filter: invert(1);
			}
			.navbar img.icon{
				height: 25px;
				filter: invert(1);
			}
			.navbar a{
				color: black;
				text-align: center;
				text-decoration: none;
				padding-right: 22px;
			}
			.navbar a:hover{
				color: #828282;
			}
			.navbar img.icon:hover{
				filter: brightness(48%);
			}
			.hero{
				display: flex;
				justify-content: space-between;
				padding: 38.5px 10px;
				margin-bottom: 90px;
				margin-left: 0px;
			}
			.hero img{
				height:550px;
				border-radius: 3.5%;
				padding-right: 28px;
			}
			h1{
				font-family: Inter, sans-serif;
				font-weight: 600;
				font-size: 65px;
				line-height:63px;
				color: black;
				margin-top: 249px;
				margin-bottom: 7px;
			}
			h2{
				font-family: Inter, sans-serif;
				font-weight: 500;
				font-size: 35px;
				line-height:70px;
				color: black;
				margin-top: 0px;
				margin-bottom: 0px;
			}
			.about{
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				height: 100vh;
				padding-left: 19px;
				padding-right: 28px;
				margin: 0;
			}
			.column{
				padding-right: 20px;
				padding-left: 20px;
			}
			.column img {
				display: block;
				border-radius: 2.5%;
				height: 500px;
				width: auto;
				margin-right: 100px;
			}
			.column h2{
				margin-bottom: 0px;
				padding-bottom: 0px;
				text-align: center;
				line-height: 57px;
			}
			.column p{
				font-size: 20px;
				font-weight: 500;
				text-align: center;
				width: 480px;
				margin-top: 0px;
				margin-bottom: 0px;
				padding-bottom: 0px;
			}
			.work{
				display: block;
				margin-top: 90px;
			}
			.project-video{
				display: block;
				float: left;
				height: 480px;
				border-radius: 2.5%;
				border: transparent;
				margin-left: 19px;
				margin-bottom: 4px;
			}
			.bento-skills{
				display: flex;
				justify-content: center;
				align-items: center;
				flex: 0 0 100%;
				margin-top: 0px;
				flex-wrap: wrap;
				margin-bottom: 90px;
			}
			.bento-block-right{
				display: block;
				margin-right: 19px;
			}
			.bento-block-left{
				display: block;
				margin-left: 19px;
			}
			.bento-title{
				font-family: Inter, sans-serif;
				font-weight: 700;
				font-size: 40px;
				line-height:70px;
				color: black;
				margin-bottom: 13px;
				text-align: center;
			}
			.bento-box{
				float: right;
				padding: 13px 22px 13px 22px;
				border-radius: 10px;
				margin: 4.5px 4.5px 4.5px 4.5px;
				width: 259.2px;
			}				
			.bento-text-skills{
				color: white;
				text-align: center;
				margin-top: 31px;
				font-family; Fraunces, serif;
				font-size: 25px;
				line-height: 1px;
				padding-top: 10px;
			}
			.bento-text1{
				color: white;
				font-family; Fraunces, serif;
				font-size: 25px;
				line-height: 1px;
				padding-top: 10px;
			}
			.bento-text2{
				color: white;
				font-family: Inter, sans-serif;
				font-size: 14px;
				font-weight: 400;
				padding-left: 15px;
			}
			.worked-with{
				display: flex;
				justify-content: space-between;
				overflow: hidden;
				align-items: center;
				padding: 20;
				margin-bottom: 90px;
				width: 100%
			}
			.worked-with p{
				font-size: 15px;
				color: gray;
				font-weight: 400;
				width: 200%;
				display: flex;
				overflow: hidden;
				margin: 0;
				padding: 0;
			}
			.slider-track{
				display: flex;
				width: calc(200%);
				animation: scroll 8s linear infinite;
			}
			.slider-item{
				flex: 0 0 22%;
				box-sizing: border-box;
				display:flex;
				justify-content: center;
				align-items: center;
			}
			.worked-with img{
				display: block;
				height: 55px;
				width: auto;
			}
			@keyframes scroll{
				0%{
					transform: translateX(0);
				}
				100%{
					transform: translateX(-88%);
				}
			}